h1 {
  letter-spacing: 2px;
  font-size: 2em;
}

a {
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  color: var(--main-color-light);
}

a:hover {
  color: var(--main-color-dark);
}


ul {
  display: flex;
  gap: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  background-color: var(--white);
  color: var(--main-color-dark);
}

.active {
  color: var(--black);
}