* {
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  --main-color-dark: #655A7C;
  --main-color-light: #AB92BF;
  --white: #FBFBFB;
  --black: #08090A;
  color: var(--white);
  background-color: var(--main-color-light);
}

h1 {
  letter-spacing: 2px;
  font-size: 2em;
}