.home-container {
  display: flex;
  justify-content: space-around;
  margin: 8em 0;
}

.contact {
  gap: .5em;
}

.contact h4,
.next-appt h4 {
  font-weight: 400;
}

.next-appt h3, .next-appt h4 {
  font-size: 3em;
}

.next-appt {
  gap: 1em;
  justify-content: center;
  height: 80%;
}

.contact,
.next-appt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: #ede8e8d2;
  border-radius: 1em;
  padding: 1em 0;
}